.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  max-width: 600px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 25px;
  padding: 15px;
  border: 1px solid black;
}
.timerBoard {
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
}

.buttonBlock {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.buttonBlock button {
  flex: 0 1 25%;
  padding: 10px 0;
}
